flask==3.0.2
pydantic==2.6.1
langchain-openai==0.0.5
langfuse==2.7.0
python-dotenv==1.0.1
flask-pydantic==0.12.0
gunicorn==21.2.0
apispec==6.3.0
flask-apispec==0.11.4
marshmallow==3.20.1
python-json-logger==2.0.7
structlog==24.1.0
pymongo==4.6.1
motor==3.3.2 